@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    --raisin-black: #272727ff;
    --buff: #d4aa7dff;
    --sunset: #efd09eff;
    --beige: #d2d8b3ff;
    --cadet-gray: #90a9b7ff;
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image:url(coffee_bg.webp);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0px;
}

.body_cover {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.header {
    position: fixed;
    width: 70%;
    height: 70px;
    border-radius: 15px 50px 15px 50px;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 2%;
    background-color: var(--beige);
}

.header h1 {
    margin: 0px;
    margin-top: 2px;
    margin-left: 25px;
}

.header a {
    text-decoration: none;
    color: var(--raisin-black);
}

.header p {
    clear: both;
    margin: -7px;
    margin-left: 35px;
    color: var(--raisin-black);
}

.header-menu {
    clear: both;
    float: right;
    position: relative;
    margin-right: 35px;
    margin-top: -37px;
}

.header-menu a {
    font-size: 150%;
    margin-left: 15px;
    transition: 0.3s;
}

.header-menu a:hover {
    color: var(--buff);
    transition: 0.3s;
}

.container {
    position: absolute;
    width: 50%;
    height: 500px;
    border-radius: 15px 50px 15px 50px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: var(--beige);
}

.container h1 {
    color: var(--raisin-black);
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}