@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    --raisin-black: #272727ff;
    --buff: rgba(212, 170, 125, 0.9);
    --sunset: rgba(239, 208, 158, 0.9);
    --beige: rgba(210, 216, 179, 0.9);
    --cadet-gray: rgba(144, 169, 183, 0.9);
    font-family: "Leckerli One", cursive;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,a {
    margin: 0px;
}

body {
    background-image:url(coffee_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0px;
}

.header {
    position: fixed;
    z-index: 2;
    width: 70%;
    height: 70px;
    border-radius: 15px 50px 15px 50px;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 1.5%;
    background-color: var(--beige);
}

.header-text h1 {
    margin: 0px;
    margin-top: 2px;
    margin-left: 85px;
}

.header a {
    text-decoration: none;
    color: var(--raisin-black);
}

.header p {
    clear: both;
    margin: -7px;
    margin-left: 100px;
    color: var(--raisin-black);
}

.header img {
    position: inherit;
    clear: both;
    display: inline;
    margin-left: 15px;
}

.header-menu {
    z-index: 2;
    clear: both;
    float: right;
    position: relative;
    margin-right: 35px;
    margin-top: -37px;
}

.header-menu a {
    font-size: 150%;
    margin-left: 15px;
    transition: 0.3s;
}

.header-menu a:hover {
    color: var(--buff);
    transition: 0.3s;
}

.container {
    z-index: 1;
    position: absolute;
    width: 72%;
    height: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px 50px 15px 50px;
}

.container-scrollable {
    width: 90%;
    height: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 49%;
    position: inherit;
    overflow-y: auto;
    scrollbar-color: var(--beige) rgba(0, 0, 0, 0);
}

.footer {
    z-index: 2;
    position: fixed;
    width: 70%;
    height: 90px;
    border-radius: 15px 50px 15px 50px;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: 1.5%;
    background-color: var(--beige);
}

.contact-footer {
    margin-left: 105px;
}

.logo-footer {
    margin-left: 15px;
    position: inherit;
}

.copy-footer {
    float: right;
    margin-top: -60px;
    margin-right: 50px;
    font-size: 120%;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Message for mobile devices */
#mobile-warning {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgb(210, 216, 179);
    color: var(--raisin-black);
    font-size: 18px;
    font-weight: bold;
    z-index: 100;
}

#mobile-warning-text {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 65%;
    position: absolute;
    text-align: center;
}

#mobile-warning-img {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 52%;
}

#mobile-warning-img img {
    width: 90%;
}

/* Main content visible by default */
#main-content {
    display: block;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    #mobile-warning {
        display: block;
        z-index: 100;
    }
    #main-content {
        display: none;
    }
}
